
*.cmake

*.txt

*.bin

*.hmap

*.pc

*.sh

*.dia

*.d

*.cxx

*.makeDebug

*.makeMinSizeRel

*.makeDebug

*.makeRelease

*.make*

*.dylib

*.LinkFileList

poco-develop/CMakeFiles/3.9.20171004-g3b9867/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph

*.c

poco-develop/CMakeFiles/3.9.20171004-g3b9867/CompilerIdC/CompilerIdC

*.dat

poco-develop/CMakeFiles/3.9.20171004-g3b9867/CompilerIdCXX/CompilerIdCXX

*.o

*.log

*.check_cache

poco-develop/Poco.xcodeproj/project.pbxproj

poco-develop/Poco.xcodeproj/xcuserdata/TLG.xcuserdatad/xcschemes/xcschememanagement.plist

poco-develop/CMakeFiles/3.9.20171004-g3b9867/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj

poco-develop/CMakeFiles/3.9.20171004-g3b9867/CompilerIdCXX/CMakeCXXCompilerId.cpp
